# dependencies / build
node_modules/
.next/
out/
dist/
coverage/
.cache/

# env / tooling
.env
.env.local
.env.*.local
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store
